
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
  function onSubmit(token) {
    document.getElementById("contact_form").submit();
  }
</script>



<form id="contact_form" class="contact_form" action="/php/contactFormHandler.php" method='post'>
  <label for="name"
    class="contact_form__label contact_form__label--required"
  >Name</label>
  <input name="name"
    class="contact_form__input"
    type="text"
    placeholder="Your Name"
    required
  >
  <label for="business_name"
    class="contact_form__label"
  >Business Name</label>
  <input name="business_name"
    class="contact_form__input"
    type="text"
    placeholder="Business Name"
  >
  <label for="phone_number"
    class="contact_form__label contact_form__label--required"
  >Phone</label>
  <input name="phone_number"
    class="contact_form__input"
    type="tel"
    placeholder="Phone Number"
    required
  >
  <label for="email"
    class="contact_form__label contact_form__label--required"
  >Email</label>
  <input name="email"
    class="contact_form__input"
    type="email"
    placeholder="Email@address.com"
    required
  >
  <label for="name"
    class="contact_form__label contact_form__label--required"
  >Message</label>
  <textarea name="message"
    class="contact_form__input"
    rows="8"
    required
  ></textarea>
  <button class="g-recaptcha contact_form__submit"
    data-sitekey="6LeFb6MZAAAAAG-ztv_3s_zWNZsonkxmSXQA1HGR"
    data-callback='onSubmit'
    data-action='submit'>
    Send
  </button>

</form>
