<footer class="footer {% if class -%}
  {{class}}
{%- endif -%}">
<a href="tel:{{ contact.phone_number }}" class="footer__phone_number phone_number">
  {{contact.contact_phone_text}}
</a>
<div class="footer__copyright">&copy; 2020 Wesley Williams</div>

</footer>
