<header class="header">
  <a href="/" class="header--bigtext header--close_text">
    <span class="header__spacer_text"></span>Wesley<br>
    <span class="header__spacer_text">W</span>Williams<br>
    <span class="header__spacer_text">WW</span>Websites
  </a>
  {% include navmenu %}
</header>
