<nav class="navmenu">
  <a
    href="/index.html"
    class="navmenu__link {% if you_are_here == "index" %} navmenu__link--you_are_here {% endif %}"
  >Home</a>
  <a
    href="testimonials.html"
    class="navmenu__link {% if you_are_here == "testimonials" %} navmenu__link--you_are_here {% endif %}"
  >Testimonials</a>
  <a
    href="contact.html"
    class="navmenu__link {% if you_are_here == "contact" %} navmenu__link--you_are_here {% endif %}"
  >Contact</a>
  <a
    href="your_site.html"
    class="navmenu__link {% if you_are_here == "your_site" %} navmenu__link--you_are_here {% endif %}"
  >Your Site</a>
</nav>
