
/* color and font stack definitions */
html {
  --color_main_text: black;
  --color_main_background: white;
  --color_invert_text: var(--color_main_background);
  --color_invert_background: var(--color_main_text);
  --color_alt_text: dodgerblue;
  --color_alt_background: white;
  --color_important_text: white;
  --color_important_background: orange;

  --font_main: 'Khula', Futura, 'Century Gothic', AppleGothic, sans-serif;
}

html, body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  font-family: var(--font_main);
}

h1 {
  font-size: 1.802em;
}
h2 {
  font-size: 1.602em;
}
h3 {
  font-size: 1.424em;
}
h4 {
  font-size: 1.266em;
}
h5 {
  font-size: 1.125em;
}

.flexpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexpage__header {}
.flexpage__content {
  flex: 1 0 auto;
  align-self: flex-start;
  width: 100%;
}
.flexpage__footer {
  flex-shrink: 0;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  padding-top: .3rem;
  padding-bottom: .3rem;
  background-color: var(--color_main_background);
  color: var(--color_main_text);
}
.header--column {
  flex-direction: column;
}

.header--bigtext {
  font-size: 1.7rem;
  font-weight: bold;
}
.header--close_text {
  line-height: 1;
}
.header__spacer_text {
  color: transparent;
  user-select: none;
}
@media only speech {
  .header__spacer_text {
    display: none;
  }
}
.navmenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 1ch;
}
.header--column .navmenu {
  flex-direction: row-reverse;
}
.navmenu__link,
.navmenu__link:visited {
  text-decoration: none;
  font-weight: bold;
  line-height: 1.2;
  color: var(--color_main_text);
}
.navmenu__link--you_are_here,
.navmenu__link--you_are_here:visited {
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 80%;
  width: 100%;
}
.footer__copyright {
}
.footer__phone_number {

}
.footer__phone_number::before {
  content: "Call: ";
}
.footer__email {

}

.paragraph {}
.paragraph--justified {
  text-align: justify;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact_form__label {
}
.contact_form__label--required::after {
  content: " *"
}
.contact_form__input {
  max-width: 100%;
}
.contact_form__submit{

}

.background_paralax {

}

.ffb {
  margin:.5ch 0ch .5ch 0ch;
}
.ffb__feature {
  background-color: var(--color_alt_background);
  color: var(--color_alt_text);
  font-size: 2rem;
}
.ffb__function {

}
.ffb__benefit {
  font-weight: 590;
  font-size: 1.05rem;
}

.heroPanel {
  background-color: var(--color_invert_background);
  background-image: image('/images/city.jpg');
}
.heroPanel__bg {

}
.heroPanel__text {
  color: var(--color_invert_text);
}
