---
layout: layouts/base
you_are_here: contact
---
<main>
  <div>
    <p class="paragraph">
      If you are in need of a website for your business or event; please use the form below, or  leave a voice-mail at: <a href="tel:{{contact.contact_phone_number}}" class="phone_number">{{contact.contact_phone_text}}</a>.<br>
      I will get back to you soon.
    </p>
  </div>
  {%- include misc/contact_form -%}
</main>
