---
layout: layouts/base
you_are_here: "faq"
---
<main>
  <h1>Frequently asked questions</h1>

  <h2 id="SSL">Secure Socket Layer (SSL)</h2>

  <h3 id="ssl__what_is">What is an SSL Certificate?</h3>
  <p>An SSL Certificate is a document from a well-known, trustworthy, third party that is used to verify the identity of the website found at a particular address, and provides details on how to encrypt and decrypt information sent and received; to ensure that it is kept private</p>
  <p>SSL protection helps to prevent a number of potential attacks, both on your website and your customers.</p>

  <h3 id="ssl__why_need">Why does my website need an SSL Certificate?</h3>
  <p>Even if your website will not be sending or receiving sensitive information, such as passwords or credit card information; without SSL encryption it may still be altered, intercepted or otherwise 'hacked' to attack your business or customers.</p>

  <h4 id="ssl__why_need__privacy">SSL Provides Privacy</h4>
  <p>First and foremost, an SSL Certificate provides the information necessary for the communications between your website and your customers to remain private. Without this first layer of defense; every party that handles the data between your server and the customer's computer can read and potentially alter the information being sent both to and from the customer.</p>

  <h4 id="ssl__why_need__mandatory">SSL is Mandatory</h4>
  <p>2018 Google Chrome began punishing websites that do not provide valid SSL Certificates by warning the user that the website is 'not secure'. By 2019, all major browsers had followed Google's example and did the same.</p>
  <p>Many current browsers will attempt to use SSL by default when accessing a site, and just throw an error if a secure version is not found.<br>To most users, this just looks like a broken site.</p>
  <p>In short: A website that does not have an SSL Certificate is effectively incompatible with a modern browser.</p>

  <h4 id="ssl__why_need__trust">SSL Provides Trust</h4>
  <p>A valid SSL Certificate proves that the customer really has reached your website; not an impostor or modified version. It also shows that you have taken real steps to ensure that any information they send will be safe during it's trip between their computer and your servers.</p>

  <h3 id="ssl__how_to_get">How do I obtain an SSL Certificate for my website?</h3>

  <h4 id="ssl__how_to_get__ill_do_it">Just let Wesley handle it.</h4>
  <p>If you lack the time, or inclination for the DIY approach, I will be glad to obtain and configure your SSL certificate for you.</p>
  <p>If your current host provides one as part of your hosting plan, I will get that up and running. Otherwise I will obtain one from a budget-friendly Certificate Authority and install it in your server.</p>

  <h4 id="ssl__how_to_get__hosting_provider">Your hosting provider</h4>
  <p>Most web-hosting services will provide a free SSL certificate for your domain as part of the hosting package. This is usually the simplest option.</p>

  <h4 id="ssl__how_to_get__certificate_authority">Through a Certificate Authority</h4>
  <p>If your web-host cannot supply you with an SSL certificate, or you are providing your own hosting, you may obtain one from a third-party Certificate Authority.</p>
  <p>A few organizations offer free, 90 day SSL certificates. These must be renewed as they expire, and some web-hosting services will not allow you to install a certificate that is not valid for at least a year.</p>
  <p>Longer term certificates are considered more trustworthy and are usually rather inexpensive. A valid certificate can easily be purchased, generated and installed on your server.</p>


  <h2 id="dns_propagation">What is "DNS propagation", and why does it take so long?</h2>
</main>
