---
layout: layouts/base
you_are_here: "index"
---
<main>

  <ul>
    <li>Speed</li>
    <li>Design</li>
    <li>Simple to maintain</li>
    <li>Easy to Read</li>
    <li>Inexpensive to host</li>
  </ul>



  <h1>service after the sale</h1>


  <h1>Simple Static Sites</h1>
  <h1>Only the features you need</h1>
  <h1>No feature creep</h1>
  <h1>No Upselling</h1>
  <p>It's not uncommon for business websites to become bloated with 'features' that are not only unused, but actively interfere with the customer experience. Why is it considered normal that, when a client first visits a website, they have to fight off a pop-up asking for their email, close the chat-bot window taking up the lower-right quart of the screen, then (hopefully) not notice that the blog hasn't been updated in six years.</p>

  <h1>Standard Features</h1>
  <p>Things every website should have</p>
  <h2>Not locking into a particular hosting provider</h2>
  <p>If you already have a webhost that supports uploading your own files, then we can easily get your new site up and running there. If you don't, we can easily get you up and running <s>on a swarm of antique calculators in my basement</s> with an economical hosting provider</p>

  <h2>Mobile-first design</h2>
  <p>"Mobile-first" means that a website is first designed to look and work great smaller screens, such as phones; then the design is 'designed upwards' to larger screen; tablets and desktops.</p>
  <p>This method ensures that your website is easy to use and looks great on all screen sizes, and ensures a consistent 'look and feel' between mobile and desktop.</p>
  <p>In the USA, about 58% of customers will view your website on a mobile device. Even higher for services that are typicaly searched for 'in the moment', such as restaurants and entertainment. If they cannot easily use your site on that device, they will go elsewhere.</p>

  <h1>The process</h1>
  <h2>Customer consultation</h2>
  Need a better name for that.
  <p>The first step is to sit down with you and learn about your business. What you do, the value that provides to your customers, and what you want people visiting your website to do next.</p>
  p{From there, we determine what information you need to convey to your customer, and what the next action you want your customers to take upon visiting your website.}
  <p>If you already have a website, we look at it to see if it is meeting your current needs, or if it has become out of date.</p>
</main>
