---
layout: layouts/base
you_are_here: "index"
---
<main>

  <h1>Only the features you need.</h1>
  <p>It's not uncommon for business websites to become bloated with 'features' that are not only unused, but actively interfere with the customer experience. Why is it considered normal that, when a client first visits a website, they have to fight off a pop-up asking for their email, close the chat-bot window taking up the lower-right quart of the screen, then (hopefully) not notice that the blog hasn't been updated in six years.</p>

</main>
