---
layout: layouts/base
you_are_here: "index"
---
<main>
  {%- include misc/heroPanel with {
    text: 'I build websites for small businesses',
    button: 'Get Started',
    action: '/contact.html',
    image:,
    imagePosX:,
    imagePosY:,
    imageSize:,
  } -%}

  <div>
    <p>Your website is your first point of contact with clients. Whether you are a contractor, restaurant, or dealership your website is key to making a good first impression, and even being seen at all.</p>

  </div>

  <div class="ffb"><div class="ffb__feature h2">A Single Developer</div>
    <p>
      <span class="ffb__function">
        I'm a small business too, not an agency 'collecting jobs' and then farming them out to other developers.
      </span>
      <span class="ffb__benefit">
        When you work with me, you speak directly with the developer building your sight.
      </span>
    </p>
  </div>
  <div class="ffb"><div class="ffb__feature h2">I'm a Developer, not a Salesman</div>
    <p>
      <span class="ffb__function">
        I write the code that turns content and ideas, into functioning websites and applications. I don't have a pile of add-ons that I want you shove into your site and charge extra for.
      </span>
      <span class="ffb__benefit">
        I won't push you to buy features or services you don't need.
      </span>
    </p>
  </div>
  <div class="ffb"><div class="ffb__feature h2">Full Stack Developer</div>
    <p>
      <span class="ffb__function">
        There are two broad categories of web development. Front-End: the code sent to the browser; and Back-End: the code running on the servers. Most 
      </span>
      <span class="ffb__benefit">
        As a 'Full Stack' developer; I am prepared to build both the Front-End code presenting your website to the user, and any server-side code that may be needed as well; saving time and expense of hiring and coordinating multiple developers.
      </span>
    </p>
  </div>
  {%- comment %}
  <div class="ffb"><div class="ffb__feature h2">Simple Static Sites</div>
    <p>
      <span class="ffb__function">
        A static site is one that is entirely made up of pre-made HTML files.
      </span>
      <span class="ffb__benefit"></span>
    </p>
  </div>
  <div class="ffb"><div class="ffb__feature h2"></div>
    <p>
      <span class="ffb__function"></span>
      <span class="ffb__benefit"></span>
    </p>
  </div>
  {% endcomment -%}

{%- comment %} Blank ffb block, copy/paste as needed.
  <div class="ffb"><div class="ffb__feature h2"></div>
    <p>
      <span class="ffb__function"></span>
      <span class="ffb__benefit"></span>
    </p>
  </div>
{% endcomment -%}

</main>
