---
layout: layouts/base
you_are_here: "index"
---
<main>

  <ul>
    <li>Speed</li>
    <li>Design</li>
    <li>Simple to maintain</li>
    <li>Easy to Read</li>
    <li>Inexpensive to host</li>
  </ul>

  <h1>service after the sale</h1>
  

  <h1>Simple Static Sites</h1>
  <h1>Only the features you need</h1>
  <h1>No feature creep</h1>
  <h1>No Upselling</h1>
  <p>It's not uncommon for business websites to become bloated with 'features' that are not only unused, but actively interfere with the customer experience. Why is it considered normal that, when a client first visits a website, they have to fight off a pop-up asking for their email, close the chat-bot window taking up the lower-right quart of the screen, then (hopefully) not notice that the blog hasn't been updated in six years.</p>

</main>
