/* color and font stack definitions */
html {
  --color_text: black;
  --font_headings: 'Khula', Futura, 'Century Gothic', AppleGothic, sans-serif;
}
html, body {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8px;
}
.flexpage {
  display: flex;
  flex-direction: column;
}
/* .flexpage__header {} */
.flexpage__content {
  flex: 1 0 auto;
}
.flexpage__footer {
  flex-shrink: 0;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.header--bigtext {
  font-family: var(--font_headings);
  font-size: 2rem;
}
.header__name {
  align-self: flex-start;
}
.header__job{
  align-self: flex-end;
}
.navmenu{
  display: flex;
  justify-content: space-around;
  font-family: var(--font_headings);
}
.navmenu__link{
  color: var(--color_text)
  font-family: var(--font_headings);
  text-decoration: none;
}
.navmenu__link--you_are_here{
  border-style: solid;
  border-width: 2px 0px 2px 0px;
  border-radius: 4px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
}
.footer__copyright {
}
.footer__phone_number {

}
.footer__phone_number::before {
  content: "Call: ";
}

.paragraph {}
.paragraph--justified {
  text-align: justify;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact_form__label {
}
.contact_form__label--required::after {
  content: " *"
}
.contact_form__input {
  max-width: 100%;
}
.contact_form__submit{

}
